<br>
<p *ngIf="!userLoggedIn" class="alert alert-warning">{{errorMessage}}</p>
<br>
<h1>Login</h1>
<div class="container">
  <br>
  <form class="form-inline">
      <strong>Username:</strong>
      <input type="text" name="username" [(ngModel)]="username">
      <strong>Password:</strong>
      <input type="text" name="password" [(ngModel)]="password">
      <button (click)="handleLogin()" class="btn btn-info">Log-In</button>
  </form>
  <br>
  <br>
  <small>Guest Account: <b>gast</b></small><br>
  <small>Guest Password: <b>123</b></small><br>
</div>